rasa==3.6.21
rasa-sdk==3.6.2
tensorflow-cpu
numpy
scipy
pydantic
pydantic-settings
pydantic_core
sklearn-crfsuite
scikit-learn
requests
aiohttp
async-timeout
colorama
coloredlogs
cloudpickle
jsonschema
PyYAML
questionary
pdfminer.six
pdfplumber
pypdfium2
huggingface-hub
tiktoken
